<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']" shape="round" class="back-button">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-end">
      <div class="title-content">
        <ion-icon name="notifications" color="primary"></ion-icon>
        <span>Notificaciones</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-list *ngIf="notifications.length > 0; else noNotifications">
    <ion-item *ngFor="let notification of notifications">
      <ion-avatar slot="start">
        <ion-icon name="car" size="large" color="dark"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{ notification }}</h2>
        <p class="timestamp">Hace unos momentos</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noNotifications>
    <div class="no-notifications">
      <p>No tienes notificaciones en este momento</p>
    </div>
  </ng-template>
</ion-content>

<app-tab-bar></app-tab-bar>