ion-content {
    --ion-background-color: transparent;
}

.bg-color {
    background-color: #d4dff2;
}

ion-header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

ion-toolbar {
    --ion-background-color: transparent;
    --opacity: 0;
}

ion-card {
    background-color: var(--ion-color-tertiary-tint);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-card-title {
    display: block;
    margin-top: 40px;
    font-size: 25px;
    color: #53565A;
    font-weight: 600;
    text-align: center;
}

ion-card-subtitle {
    display: block;
    text-align: center;
    padding-top: 15px;
    font-size: 13px;
    color: #888c91;
    font-weight: 400;
    text-transform: none;
}

ion-item {
    color: #74787e;
    --background: var(--ion-color-tertiary-tint);
    --border-color: #d4d7db;
    --highlight-color-focused: #215ab7;
    --padding-start: 0;
    --inner-padding-end: 0;
}

ion-input {
    color: #74787e;
}


.email-item {
    margin-top: 70px;
}

.sign-btn-wrap {
    text-align: center;
    padding-top: 80px;
}

.sign-btn {
    --ion-primary-color: #215AB7;
    --background-activated: #9ca3b0;
    --background-focused: #9ca3b0;
    --background-hover: #647B9D;
    color: #F4F6FA;
    border-radius: 25px;
    --background: #215AB7;
    background-color: #215AB7;
}