<ion-header class="ion-no-border">
  <ion-toolbar>
    <!--ion-title>signup</ion-title-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/loginscreen" text="" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Olvidaste la Contraseña</ion-card-title>
      <ion-card-subtitle>
        Escribe tu email aquí para recuperar tu contraseña
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="email-item">
        <ion-input name="email" type="text" placeholder="Email"></ion-input>
      </ion-item>

      <div class="sign-btn-wrap">
        <ion-button [routerLink]="['/loginscreen']" shape="round" fill="solid" class="sign-btn">Recuperar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>