ion-tabs {
  ion-fab {
    margin-bottom: env(safe-area-inset-bottom); /* fix notch ios */
    ion-fab-button {
      --box-shadow: none;
    }
  }
  ion-tab-bar {
    --border: 0;
    --background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &::after {
      content: " ";
      width: 100%;
      bottom: 0;
      background: var(--ion-color-dark);
      height: env(safe-area-inset-bottom);
      position: absolute;
    }
    ion-tab-button {
      --background: var(--ion-color-secondary);
      border: none;
      margin: 0;
      padding: 0;
    }
    ion-tab-button.notifications,
    ion-tab-button.history,
    ion-tab-button.messages,
    ion-tab-button.profile {
      flex: 1;
    }
    ion-tab-button.history {
      margin-right: 0px;
      border-top-right-radius: 18px;
    }
    ion-tab-button.messages {
      margin-left: 0px;
      border-top-left-radius: 18px;
    }
    svg {
      width: 72px;
      margin-top: 19px;
      path {
        fill: var(--ion-color-secondary);
      }
    }
  }
}