// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Color Palette
$primary-color: #ffb300;
$primary-hover-color: #ffa000;
$secondary-color: #003366;
$secondary-hover-color: #001933;

$background-color: #f5f5f5;

$text-color: #333333;