<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']" shape="round" class="back-button">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-end">
      <div class="title-content">
        <ion-icon name="time" color="primary"></ion-icon>
        <span>Historial</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-list *ngIf="history.length > 0; else noHistory">
    <ion-item *ngFor="let item of history">
      <ion-avatar slot="start">
        <ion-icon name="time" size="large" color="dark"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{ item.message }}</h2>
        <p>{{ item.status }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noHistory>
    <div class="no-history">
      <p>No haz realizado ningún viaje.</p>
    </div>
  </ng-template>
</ion-content>

<app-tab-bar></app-tab-bar>