.close-button ion-icon,
.title-content ion-icon {
  margin-right: 8px;
}

  ion-list {
    background: var(--ion-color-light);
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-item {
    --background: var(--ion-color-light);
    --padding-start: 0;
    --inner-padding-end: 0;
    --color: var(--ion-color-dark);
    --border-color: var(--ion-color-tertiary-shade);
  }

  .save-button {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
  }