<ion-header>
  <ion-toolbar>
    @if (showBackButton) {
      <ion-buttons>
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
    <ion-title [ngClass]="titleAlignment">
      <span class="title-part1">TeLlevo</span>
      <span class="title-part2">APP</span>
    </ion-title>
    <ion-buttons slot="end">
      @if (showDropdown()) {
        <ion-item>
          <ion-label>Cambiar Perfil</ion-label>
          <ion-select [(ngModel)]="activeProfile" (ionChange)="changeProfile($event.detail.value)">
            @if (isPassenger) {
              <ion-select-option value="driver">Conductor</ion-select-option>
            } @else if (isDriver) {
              <ion-select-option value="passenger">Pasajero</ion-select-option>
            }
          </ion-select>
        </ion-item>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-router-outlet></ion-router-outlet>
  <app-tab-bar></app-tab-bar>
</ion-content>
