//Map styles
#map {
  position: unset;
  height: 100%;
  width: 100%;
  background-color: transparent;
  transition: opacity 150ms ease-in;
}

#map.visible {
  opacity: 1;
}

.gm-style-cc {
  display: none;
}

.gmnoprint a, 
.gmnoprint span {
  display: none;
}

//Search styles
.controls {
  font-family: var(--nexa-extra-light);
  background-color: white;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Sombra externa e interna */
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 10px;
  z-index: 5;
  transition: all 0.2s ease-in-out;
}

.controls:focus {
  outline: none;
  transform: translateX(-50%) scale(1.05);
}

.pac-container {
  background-color: var(--ion-color-tertiary);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: var(--nexa-extra-light);
  margin-top: 5px;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 300px !important;
}

.pac-container::after {
  display: none;
}

.pac-item {
  padding: 10px;
  cursor: pointer;
}

.pac-item:hover {
  background-color: #f0f0f0;
}

.pac-item-query {
  font-weight: bold;
}

//Trip styles

.trip-info-container {
  position: absolute;
  bottom: 60px; /* Ajusta según la altura del tab */
  left: 0;
  right: 0;
  background-color: white;
  padding: 10px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.trip-info {
  margin-bottom: 10px;
}

.trip-actions {
  display: flex;
  justify-content: space-between;
}

.trip-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.trip-actions button:first-child {
  background-color: #ff6c70;
  color: white;
}

.trip-actions button:last-child {
  background-color: #4caf50;
  color: white;
}