<div class="container animate__animated animate__slideInDown">
    <div class="content">
        <header>
            <h1>¡Bienvenido a!</h1>
            <img loading="lazy" src="assets/auth/TeLlevoAppLogo.png">
        </header>
        <div class="buttons">
            <ion-button routerLink="/auth/login" routerLinkActive="router-link-active"  color="secondary" shape="round" fill="outline">Iniciar Sesión</ion-button>
            <ion-button routerLink="/auth/signup" routerLinkActive="router-link-active" color="secondary" shape="round" fill="outline">Registrarse</ion-button>
        </div>
    </div>
</div>