.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: all 0.5s;
}

.container.visible {
    opacity: 1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: var(--ion-color-light);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    color: var(--ion-color-secondary);
}

img {
    width: 210px;
    height: 120px;
}

ion-button {
    width: 100%;
}